<!-- About Section -->
<section id="about" class="container text-center section-padding screen-effect">
	<h2>About</h2>
	<div class=" container row justify-content-center">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<p>Welcome to my corner of the web. I'm Leif, a Software Developer currently residing in Atlanta, GA. 
				Since a very young age, I have been fascinated with society's relationship with technology. I strive to create applications and digital experiences that entertain and connect people.</p>
			<p>I have experience designing, developing, and modifying responsive web content and have worked with a wide variety of tools and languages including but not limited to: Angular, React, Wordpress/PHP, C#/.Net.</p>
		</div>
	</div>
</section> 
