    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Hello, I'm a Software Developer in Nashville, TN. Since a very young
                age, I have been fascinated with society's relationship with technology.
                My personal goal is to create applications and digital experiences that
                entertain and connect people in new and unique ways. To accomplish this
                goal I have submersed myself in a bootcamp at the Nashville Software School.
                </p>
            </div>
        </div>
    </section>