    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Skills</h2>
                    <div class="row row-centered" id="iconSize">
                        <i class="devicon-html5-plain-wordmark colored"></i>
                        <i class="devicon-css3-plain-wordmark colored"></i>
                        <i class="devicon-javascript-plain colored"></i>
                        <i class="devicon-angularjs-plain colored"></i>
                        <i class="devicon-bootstrap-plain-wordmark colored"></i>
                        <i class="devicon-csharp-plain colored"></i>
                        <i class="devicon-dot-net-plain-wordmark colored"></i>
                    </div>

                    <div class="row row-centered" id="iconSize">
                        <i class="devicon-bower-line-wordmark colored"></i>
                        <i class="devicon-git-plain-wordmark colored"></i>
                        <i class="devicon-gulp-plain colored"></i>
                        <i class="devicon-jquery-plain-wordmark colored"></i>
                        <i class="devicon-gimp-plain"></i>
                        <i class="devicon-sass-original colored"></i>
                        <i class="devicon-trello-plain-wordmark colored"></i>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>