    <!-- Download Section -->
    <section id="projects" class="content-section text-center">

        <div class="download-section">
            <div class="container">
            <h2>Projects</h2>
                <div>
                    <h3> <a href="https://github.com/leifehetland/historyofyou">History of You</a></h3>
                    <p>History of You is a geo-locational storytelling application where a user is able to select a location utilizing the Google Maps API, and then write a story for that location. By doing so, a user can see other user's narratives. AngularJS front end with Firebase database.</p>

                    <h3><a href="https://github.com/leifehetland/gameoflife">Conway's Game of Life</a></h3>
                    <p>A unit tested, C# implementation of Conway's cellular automaton zero-player game.</p>

                    <h3><a href="https://github.com/leifehetland/trick-or-boom">Trick Or Boom!</a></h3>
                    <p>A game where the player controls a pumpkin guy named Jacques through a series of graveyard mazes fending off slime monsters and other spooky things. Jacques drops bombs to blast his way through these enemies and environments. Phaser/JS game with an MVC shell and database.</p>

                </div>

            </div>
        </div>
    </section>
