    <!-- Download Section -->
    <section id="projects" class="content-section text-center">

        <div class="download-section">
            <div class="container">
            <h2>Personal Projects</h2>
                <div class="col-lg-6 col-sm-12">
                    <h3> <a href="https://globalgamejam.org/2018/games/anyone-out-there-0">Is Anyone Out There?</a></h3>
                    <p>
                      Global Game Jam 2018- A prototype for a first person narrative experience using C# and the Unity game engine based on the theme of transmission.
                      The player is a woman who is receiving mysteries signals that generate memories that the
                      player explores.
                    </p>

                    <h3><a href="https://globalgamejam.org/2017/games/umi-chan-vs-cephalotron">Umi-chan vs Cephalotron</a></h3>
                    <p>
                      Global Game Jam 2017- A protoype for a rhythm/action game using C# and the Unity game engine based on the theme of waves.
                      Worked with a team of artists, a musician, and developers.
                    </p>

                    <h3><a href="https://tinawisneski.itch.io/ritualreversal">Ritual Reversal</a></h3>
                    <p>
                      Global Game Jam 2016- A protoype for a platformer game using C# and the Unity game engine based on the theme of ritual.
                      Worked with a team of artists, musicians, and developers.
                    </p>
                </div>

                <div class="col-lg-6 col-sm-12">
                    <h3><a href="https://github.com/leifehetland/gameoflife">Conway's Game of Life</a></h3>
                    <p>A unit tested, C# implementation of Conway's cellular automaton zero-player game.</p>

                    <h3><a href="https://github.com/leifehetland/trick-or-boom">Trick Or Boom!</a></h3>
                    <p>A game where the player controls a pumpkin guy named Jacques through a series of graveyard mazes fending off slime monsters and other spooky things. Jacques drops bombs to blast his way through these enemies and environments. Built using PhaserJS.</p>

                    <h3> <a href="https://github.com/leifehetland/historyofyou">History of You</a></h3>
                    <p>History of You is a geo-locational storytelling application where a user is able to select a location utilizing the Google Maps API, and then write a story for that location. By doing so, a user can see other user's narratives. AngularJS front end with Firebase database.</p>
                </div>
            </div>
        </div>
    </section>
