@media only screen and (max-width: 667px) {
  .container {
		margin: 2rem 0;
		margin-right: auto;
		margin-left: auto;
	}
	
	.intro {
		margin-top: 10rem;
	}

	.navbar-custom {
		background-color: black;
	}

	.top-nav-collapse {
		background-color: black;
	}

}

.container {
	margin: 0 auto;
}

.section-padding {
	padding: 4rem 0;
}

h2 {
	padding-bottom: 4rem;
}


{% include css/bootstrap.min.css %}
{% include css/grayscale.css %}
